@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12">
        <h2>Факултети</h2>
        <hr />
        <ul class="col-lg-1">  
            <a href="@Url.Content("~/tasks.docx")">Rules 1</a>
            <a href="@Url.Content("~/tasks.docx")">Rules 2</a>
            <a href="@Url.Content("~/tasks.docx")">Rules 3</a>
            <a href="@Url.Content("~/tasks.docx")">Rules 4</a>
            <a href="@Url.Content("~/tasks.docx")">Rules 5</a>
        </ul>
    </div>
</div>